#cloud-config
apt_update: true
packages:
  - php-fpm
  - php-imagick
  - php-curl
  - php-redis
  - php-mysqli
  - php-mbstring
  - php-xml
  - php-zip
  - nginx
  - certbot
  - mariadb-server
  - curl
  - less
  - sudo
  - vim
  - rsync

swap:
  filename: /swapfile
  size: 2147483648

runcmd:
  - [ ufw allow ssh ]
  - [ ufw allow http ]
  - [ ufw allow https ]
  - [ ufw enable ]

  - [ curl, -O, https://raw.githubusercontent.com/wp-cli/builds/gh-pages/phar/wp-cli.phar ]
  - [ chmod, +x, wp-cli.phar ]
  - [ mv, wp-cli.phar, /usr/local/bin/wp ]
