name: Unit Tests
on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-python@v2
        with:
          python-version: 3.9
      - shell: bash
        run: |
          python -m pip install --upgrade pip
          python -m pip install -r requirements.txt
          python setup.py install
          sail --version
      - shell: bash
        run: python -m unittest
